*{
  margin: 0px;
  padding: 0px;
}
#header-nav
{
  background-color:#337AB7;
  border-radius: 0;
  border:0;
}
.navbar-brand h1
{
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: .75;
  padding-top: 25px;
  padding-left: 25px;
}
h1 > span
{
  color: orange;
}

.navbar-brand h1:hover, .navbar-brand h1:focus 
{
  text-decoration: none;
}
#toggle-button
{
  background-color: white;
  border:1px solid #337AB7;
  margin-top: 25px;
}

.navbar-default .navbar-collapse
{
    border: 0px;
    margin-bottom: 0px;
}

#nav-list a 
{
  color: white;
  text-align: center;
  background-color: #337AB7;
  /*border-bottom: 1px solid white;*/
  font-weight: bold;
}
#nav-list a:hover {
  background-color: #d8d4d4;
}

@media(max-width: 767px) 
{
  .navbar-brand h1
  {
    padding-left: 3px;
  }
}